---
layout: 'default'
title: 'Recent Work'
description: 'The work of Dorothy Gale.'
bodyClass: 'work'
---

  <section class="portfolio container">
    <ul class="projectList">
      <li class="projectItem">
        <a href="{{site.contextPath}}/work/cowardly-lion/" title="The Cowardly Lion" class="projectItem-link">
          <img class="projectItem-pic" src="{{site.contextPath}}/assets/images/thumb-cowardly-lion.jpg" alt="The Cowardly Lion" />
          <h4 class="projectItem-title">The Cowardly Lion</h4>
          <p class="projectItem-desc">design, illustration</p>
        </a>
      </li>
      <li class="projectItem">
        <a href="{{site.contextPath}}/work/cowardly-lion/" title="The Cowardly Lion" class="projectItem-link">
          <img class="projectItem-pic" src="{{site.contextPath}}/assets/images/thumb-cowardly-lion.jpg" alt="The Cowardly Lion" />
          <h4 class="projectItem-title">The Cowardly Lion</h4>
          <p class="projectItem-desc">design, illustration</p>
        </a>
      </li>
      <li class="projectItem">
        <a href="{{site.contextPath}}/work/cowardly-lion/" title="The Cowardly Lion" class="projectItem-link">
          <img class="projectItem-pic" src="{{site.contextPath}}/assets/images/thumb-cowardly-lion.jpg" alt="The Cowardly Lion" />
          <h4 class="projectItem-title">The Cowardly Lion</h4>
          <p class="projectItem-desc">design, illustration</p>
        </a>
      </li>
      <li class="projectItem">
        <a href="{{site.contextPath}}/work/cowardly-lion/" title="The Cowardly Lion" class="projectItem-link">
          <img class="projectItem-pic" src="{{site.contextPath}}/assets/images/thumb-cowardly-lion.jpg" alt="The Cowardly Lion" />
          <h4 class="projectItem-title">The Cowardly Lion</h4>
          <p class="projectItem-desc">design, illustration</p>
        </a>
      </li>
      <li class="projectItem">
        <a href="{{site.contextPath}}/work/cowardly-lion/" title="The Cowardly Lion" class="projectItem-link">
          <img class="projectItem-pic" src="{{site.contextPath}}/assets/images/thumb-cowardly-lion.jpg" alt="The Cowardly Lion" />
          <h4 class="projectItem-title">The Cowardly Lion</h4>
          <p class="projectItem-desc">design, illustration</p>
        </a>
      </li>
      <li class="projectItem">
        <a href="{{site.contextPath}}/work/cowardly-lion/" title="The Cowardly Lion" class="projectItem-link">
          <img class="projectItem-pic" src="{{site.contextPath}}/assets/images/thumb-cowardly-lion.jpg" alt="The Cowardly Lion" />
          <h4 class="projectItem-title">The Cowardly Lion</h4>
          <p class="projectItem-desc">design, illustration</p>
        </a>
      </li>
      <li class="projectItem">
        <a href="{{site.contextPath}}/work/cowardly-lion/" title="The Cowardly Lion" class="projectItem-link">
          <img class="projectItem-pic" src="{{site.contextPath}}/assets/images/thumb-cowardly-lion.jpg" alt="The Cowardly Lion" />
          <h4 class="projectItem-title">The Cowardly Lion</h4>
          <p class="projectItem-desc">design, illustration</p>
        </a>
      </li>
      <li class="projectItem">
        <a href="{{site.contextPath}}/work/cowardly-lion/" title="The Cowardly Lion" class="projectItem-link">
          <img class="projectItem-pic" src="{{site.contextPath}}/assets/images/thumb-cowardly-lion.jpg" alt="The Cowardly Lion" />
          <h4 class="projectItem-title">The Cowardly Lion</h4>
          <p class="projectItem-desc">design, illustration</p>
        </a>
      </li>
    </ul>
  </section>
